/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, 
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 { 
    font-weight: inherit;
    font-size: inherit;
}
html,
body { 
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #141414;
    font-family: Montserrat;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1410px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
/* -----------------HEADER----------------------------------------------- */
hr {
    background: #272343;
    height: 45px;
}
.header {
    width: 100%;
    z-index: 50;
    background-color: #F0F2F3;
}
._header {
    width: 100%;
    z-index: 50;
    background-color: #FFF;
    box-shadow: 0px 1px 0px #E1E3E6;
}
.header__container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 84px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
._header__container-down {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    gap: 410px;

    flex: none;
    order: 2;
    flex-grow: 0;
}
.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 40px;
}
.header__logo > a {
    height: 31px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #272343;
}
.header__search {
    position: relative;
}
.header__search > input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #9A9CAA;
}
.header__search > input {
    outline: none;
    width: 413px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 16px;
    line-height: 120%;
    color: #9A9CAA;
    background: #FFFFFF;
    border-radius: 5px;
}
.header_search-button_link > img {
    position: absolute;
    padding: 0px 15px 0px 0px;
    top: 25%;
    right: 0%;
}
.header__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    height: 44px;

    flex: none;
    order: 2;
    flex-grow: 0;
}
.header__buttons-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #FFFFFF;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__buttons-courses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #FFFFFF;
    border-radius: 8px; 

    flex: none;
    order: 0;
    flex-grow: 0;
}
.cart_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 144px;
    height: 44px;
}
.cart_link_courses {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 124px;
    height: 44px;
}
.cart {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    text-align: center;
    text-transform: capitalize;
    color: #272343;
}
.count__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    width: 20px;
    height: 20px;
    background: #007580;
    color: #FFF;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.header__buttons-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
}
.profile_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}
._header__container-down_categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 260px;
    height: 15px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__container-down_categories_dropmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 260px;
    height: 15px;
}
.header__container-down_categories_dropmenu > ul li a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    text-transform: capitalize;
    color: #636270;
    transition: all 0.3s ease;
}
.header__container-down_categories_dropmenu li a:hover{
    transition: all 0.3s ease;
}
/*sub menu*/
.header__container-down_categories_dropmenu li ul{
    position: absolute;
    padding: 20px 0px 0px 0px;
    display: none;
}
.header__container-down_categories_dropmenu li > ul li a{
    display: flex;
    padding: 10px;
    background: #F0F2F3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    text-transform: capitalize;
    color: #636270;
}
.header__container-down_categories_dropmenu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
}
.header__container-down_categories_dropmenu li:hover > ul{
    display: block;
}
._header__container-down_links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 180px;
    height: 15px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
._header__container-down_categories > a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    text-transform: capitalize;
    color: #636270;
}
._header__liks-contacts {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    text-transform: capitalize;
    color: #636270;
}
._header__links-number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    text-transform: capitalize;
    color: #272343;
}
.show {display: block;}




